In [ ]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.2  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.2.2'
spark_version = 'spark-3.2.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  Release
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:8 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:11 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,311 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,017 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:16 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,017 kB]
Hit:17 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:18 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,542 kB]
Fetched 8,226 kB in 4s (2,217 kB/s)
Reading package lists... Done

In [ ]:
# Get postgresql package
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2023-03-13 22:14:10--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  1.25MB/s    in 0.7s

2023-03-13 22:14:12 (1.25 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [ ]:
# Import Spark and create a SparkSession
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("BigData-HW-1").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

# Extract the Amazon Data into Spark DataFrame

In [ ]:
# Read in the data from an S3 Bucket
# https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Pet_Products_v1_00.tsv.gz

from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Pet_Products_v1_00.tsv.gz"
spark.sparkContext.addFile(url)

df = spark.read.option('header', 'true').csv(SparkFiles.get("amazon_reviews_us_Pet_Products_v1_00.tsv.gz"), inferSchema=True, sep='\t', timestampFormat="yyyy-MM-dd")
df.show(10)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   28794885| REAKC26P07MDN|B00Q0K9604|     510387886|(8-Pack) EZwhelp ...|    Pet Products|          5|            0|          0|   N|                Y|A great purchase ...|Best belly bands ...|2015-08-31 00:00:00|
|         US|   11488901|R3NU7OMZ4HQIEG|B00MBW5O9W|     912374672|Warren Eckstein's...|    Pet Products|          2|            0|          1|   N|                Y|My dogs love Hugs...|My dogs love Hugs...|2015-08-31 00:00:00|
|         US|   43214993|R14QJW3XF8QO1P|B0084OHUIO|     902215727|Tyson's True Chew...|    Pet Products|          5|            0|          0|   N|                Y|I have been purch...|I have been purch...|2015-08-31 00:00:00|
|         US|   12835065|R2HB7AX0394ZGY|B001GS71K2|     568880110|Soft Side Pet Cra...|    Pet Products|          5|            0|          0|   N|                Y|it is easy to ope...|It is extremely w...|2015-08-31 00:00:00|
|         US|   26334022| RGKMPDQGSAHR3|B004ABH1LG|     692846826|EliteField 3-Door...|    Pet Products|          5|            0|          0|   N|                Y|           Dog crate|Worked really wel...|2015-08-31 00:00:00|
|         US|   22283621|R1DJCVPQGCV66E|B00AX0LFM4|     590674141|Carlson 68-Inch W...|    Pet Products|          5|            0|          0|   N|                Y|          Five Stars|I love my gates! ...|2015-08-31 00:00:00|
|         US|   14469895|R3V52EAWLPBFQG|B00DQFZGZ0|     688538603|Dog Seat Cover Wi...|    Pet Products|          3|            0|          0|   N|                Y|Seat belt tugs on...|Didn't quite work...|2015-08-31 00:00:00|
|         US|   50896354|R3DKO8J1J28QBI|B00DIRF9US|     742358789|The Bird Catcher ...|    Pet Products|          2|            0|          0|   N|                Y|Great Pole, but S...|I had the origina...|2015-08-31 00:00:00|
|         US|   18440567| R764DBXGRNECG|B00JRCBFUG|     869798483|Cat Bed - Purrfec...|    Pet Products|          5|            1|          1|   N|                N|     My cat loves it|The pad is very s...|2015-08-31 00:00:00|
|         US|   50502362| RW1853GAT0Z9F|B000L3XYZ4|     501118658|PetSafe Drinkwell...|    Pet Products|          5|            0|          0|   N|                Y|          Five Stars|My cat drinks mor...|2015-08-31 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 10 rows

In [ ]:
df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: timestamp (nullable = true)

In [ ]:
# Get the number of rows in the DataFrame.
print(f'number of rows in the Data Frame = {df.count()}')

number of rows in the Data Frame = 2643619

In [ ]:
# Drop null values, by default is any which means will drop any rows which has a NA
print((df.count(),len(df.columns)))
df2 = df.dropna()
df3 = df2.dropDuplicates()
print((df3.count(),len(df3.columns)))
df3.show()

(2643619, 15)
(2643241, 15)
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   26879429|R1015HJHGZUJVG|B00076HSUC|     421502374|Cholodin-FEL For ...|    Pet Products|          5|            1|          1|   N|                Y|      Helps Old Cats|Cholodin is a gre...|2013-08-11 00:00:00|
|         US|   49345442|R1023YMO9XR93S|B00171IVHA|      25146499|H2O Animal Hydrat...|    Pet Products|          2|            0|          0|   N|                Y|      cheap fittings|started leaking a...|2014-12-02 00:00:00|
|         US|   48576217|R10267J8PBWEVQ|B0024E0QHC|     857059897|Petstages No Stuf...|    Pet Products|          5|            0|          0|   N|                Y|   Jake loves these!|We have a golden ...|2014-06-25 00:00:00|
|         US|   34624253|R103326H6Z3CTG|B000UZNLGA|     144491764|PetSafe Outdoor U...|    Pet Products|          5|            1|          1|   N|                Y|  Highly Recommended|We love the Petsa...|2011-11-12 00:00:00|
|         US|   48425022| R1035J76P280Y|B003IRJTCC|     996646406|Taste of the Wild...|    Pet Products|          5|            6|          7|   N|                Y|    Yum(My Dog Says)|I am so happy Ama...|2010-12-22 00:00:00|
|         US|   14356933| R103IP0FCBH8I|B0002AQPKW|     152333311|JW Pet Company Gr...|    Pet Products|          5|            1|          1|   N|                Y|The only rake you...|On the image is o...|2011-12-12 00:00:00|
|         US|   14302088|R103WDQ4IDVIUV|B00E8LYJS6|     394306248|BRAVO 294127 Heal...|    Pet Products|          5|            0|          0|   N|                Y|  My cat loves them!|My cat has been n...|2014-12-15 00:00:00|
|         US|   13853268|R103WQ2GZQLH6T|B006MUQO0M|      84171195|Flexi Explore Ret...|    Pet Products|          5|            0|          0|   N|                Y|        Very durable|This is still goi...|2015-06-26 00:00:00|
|         US|   27083213|R104K30IR1GWUD|B008V68GKG|     915709880|Hunter MFG Pittsb...|    Pet Products|          5|            0|          0|   N|                Y|   Cutest shirt ever|We love the shirt...|2013-07-18 00:00:00|
|         US|   18411324|R104LLIZQ8O3DW|B00ETS9LZ4|     259591253|Vet's Best 1 Coun...|    Pet Products|          5|            0|          0|   N|                Y|Made my little do...|My dog is cute, b...|2014-06-05 00:00:00|
|         US|    2654230|R104OCMU5PF85T|B008CO4H8C|     648340511|Furhaven Hood Pet...|    Pet Products|          2|           25|         25|   N|                Y|... this same bed...|I bought this sam...|2015-03-03 00:00:00|
|         US|   21635417|R104QASUJNTTNP|B0056J2PWG|      26863086|Dean and Tyler Hu...|    Pet Products|          5|            0|          0|   N|                N|      Big and Strong|This is a great t...|2014-04-11 00:00:00|
|         US|   23364778|R1058KF5BARAYI|B004TA9VM0|     104404634|Fido Pet Products...|    Pet Products|          5|            0|          0|   N|                Y|       Great product|Awesome life jack...|2014-07-25 00:00:00|
|         US|   24725120|R105G5FW41EYXT|B004X3VRLG|      13345555|FunBites MiniCong...|    Pet Products|          3|            0|          0|   Y|                N|   Issues of concern|Fun bites are too...|2011-11-14 00:00:00|
|         US|   13073613|R105G8862VGKV0|B005G030TC|     263541539|Epica Remote Dog ...|    Pet Products|          5|            0|          0|   N|                Y|... the product f...|I've had the prod...|2014-09-30 00:00:00|
|         US|    3213080|R1064AZGE512TF|B00QT2L7OG|     817582382|Tvoka® Black Ligh...|    Pet Products|          5|            2|          2|   N|                N|Susan's Urine Fin...|Hello, my name is...|2015-02-04 00:00:00|
|         US|   25243716|R106NMEE713B5W|B0006JM0K8|     736629727|KollerCraft TOM A...|    Pet Products|          5|            1|          1|   N|                Y|         Works great|This works very w...|2014-03-07 00:00:00|
|         US|   20672545|R106PSJK42J15R|B001B4Z5U4|      57261556|8 in 1 Perfect Co...|    Pet Products|          5|            0|          0|   N|                Y|8 in 1 Perfect Co...|This is a great s...|2011-11-04 00:00:00|
|         US|   47793408|R106S6Q9EOXI5A|B001K5LGPW|     645464396|PediPaws Replacem...|    Pet Products|          5|            0|          0|   N|                Y|          Five Stars|Dogs hate the sou...|2014-10-10 00:00:00|
|         US|     555555|R1080VJ3FU6LKO|B00FFECXN8|     149013886|Aspen Pet Ruff Ha...|    Pet Products|          5|            3|          3|   N|                Y|Unit was easy to ...|Box was damaged, ...|2015-02-21 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
df3.columns

['marketplace',
 'customer_id',
 'review_id',
 'product_id',
 'product_parent',
 'product_title',
 'product_category',
 'star_rating',
 'helpful_votes',
 'total_votes',
 'vine',
 'verified_purchase',
 'review_headline',
 'review_body',
 'review_date']

# Transform the Data

## Create the "review_id_table".

In [ ]:
# from pyspark.sql.functions import to_date
from pyspark.sql.functions import *
from pyspark.sql.types import *
# Create the "review_id_df" DataFrame with the appropriate columns and data types.
review_id_table_df = df3.select(["review_id", "customer_id", "product_id", "product_parent", "review_date"])
review_id_table_df2 = review_id_table_df.withColumn("review_date",to_date(col("review_date")))
# review_id_table_df.show(truncate=False)

In [ ]:
type(review_id_table_df2)

pyspark.sql.dataframe.DataFrame

In [ ]:
review_id_table_df2.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- review_date: date (nullable = true)

In [ ]:
review_id_table_df2.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R1015HJHGZUJVG|   26879429|B00076HSUC|     421502374| 2013-08-11|
|R1023YMO9XR93S|   49345442|B00171IVHA|      25146499| 2014-12-02|
|R10267J8PBWEVQ|   48576217|B0024E0QHC|     857059897| 2014-06-25|
|R103326H6Z3CTG|   34624253|B000UZNLGA|     144491764| 2011-11-12|
| R1035J76P280Y|   48425022|B003IRJTCC|     996646406| 2010-12-22|
| R103IP0FCBH8I|   14356933|B0002AQPKW|     152333311| 2011-12-12|
|R103WDQ4IDVIUV|   14302088|B00E8LYJS6|     394306248| 2014-12-15|
|R103WQ2GZQLH6T|   13853268|B006MUQO0M|      84171195| 2015-06-26|
|R104K30IR1GWUD|   27083213|B008V68GKG|     915709880| 2013-07-18|
|R104LLIZQ8O3DW|   18411324|B00ETS9LZ4|     259591253| 2014-06-05|
|R104OCMU5PF85T|    2654230|B008CO4H8C|     648340511| 2015-03-03|
|R104QASUJNTTNP|   21635417|B0056J2PWG|      26863086| 2014-04-11|
|R1058KF5BARAYI|   23364778|B004TA9VM0|     104404634| 2014-07-25|
|R105G5FW41EYXT|   24725120|B004X3VRLG|      13345555| 2011-11-14|
|R105G8862VGKV0|   13073613|B005G030TC|     263541539| 2014-09-30|
|R1064AZGE512TF|    3213080|B00QT2L7OG|     817582382| 2015-02-04|
|R106NMEE713B5W|   25243716|B0006JM0K8|     736629727| 2014-03-07|
|R106PSJK42J15R|   20672545|B001B4Z5U4|      57261556| 2011-11-04|
|R106S6Q9EOXI5A|   47793408|B001K5LGPW|     645464396| 2014-10-10|
|R1080VJ3FU6LKO|     555555|B00FFECXN8|     149013886| 2015-02-21|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

## Create the "products" Table

In [ ]:
# Create the "products_df" DataFrame that drops the duplicates in the "product_id" and "product_title columns. 

products_df2 = df3.select(["product_id", "product_title"])
products_df = products_df2.dropDuplicates()
print((products_df.count(),len(products_df.columns)))
products_df.show()

(239307, 2)
+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B00134HSYS|Special Edition P...|
|B00BS6NPBG|High Tech Pet 6-P...|
|B000F930FS|PetSafe ScoopFree...|
|B000FJ9QTW|Insight ActiviToy...|
|B000ALY0OQ|SmartCat Bootsie'...|
|B00Q8ETIZ0|Dogloveit Rubber ...|
|B002VU2BA4|Kragonfly Interch...|
|B00QA3K3QM|Attmu Retractable...|
|B005DGHUC2|Zoo Med Laborator...|
|B000XY7C7C|All Four Paws, Th...|
|B004UUE26O|Animal Planet PET...|
|B008APML2C|Chuckit Medium Ul...|
|B00ZJN7T8E|1 Half Portion Ja...|
|B00NRZC8LY|Hide-A-Toy Hallow...|
|B001P3NU4E|Virbac C.E.T. Enz...|
|B003TEQ2U6|Jolly Pets Jolly ...|
|B00DJSNF0M|Multipet Lenny th...|
|B00FXVFEQG|Bags on Board Dur...|
|B005ORDWYA|Just One Bite II ...|
|B003E77OG4|  Petmate Sky Kennel|
+----------+--------------------+
only showing top 20 rows

## Create the "customers" Table

In [ ]:
# Create the "customers_df" DataFrame that groups the data on the "customer_id" by the number of times a customer reviewed a product. 

from pyspark.sql.functions import desc,count

customers_df= df3.groupBy('customer_id').agg(count("customer_id").alias("customer_count"))
customers_df.show()
# df4 = df3.groupBy('customer_id').agg({'customer_id':'count'}).orderBy(desc('count(customer_id)'))
# df5 = df4.withColumnRenamed("count(customer_id)","customer_count")
# customers_df = df5.withColumn("customer_count",to_int(col("customer_count")))
# customers_df.show(5)

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   21105356|             5|
|   29425552|             2|
|   17041448|             5|
|   37882821|             1|
|   42532905|             1|
|   18759528|             1|
|   19172324|             4|
|   51474275|             2|
|   27911347|             9|
|   22602819|             2|
|    5658913|            34|
|   14691760|             2|
|   13645331|             1|
|   14139374|             1|
|   14397122|             4|
|   10850500|             1|
|   47233188|             6|
|   24215961|             1|
|   16468643|             1|
|   18630443|             8|
+-----------+--------------+
only showing top 20 rows

In [ ]:
customers_df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- customer_count: long (nullable = false)

## Create the "vine_table".

In [ ]:
df3.columns

['marketplace',
 'customer_id',
 'review_id',
 'product_id',
 'product_parent',
 'product_title',
 'product_category',
 'star_rating',
 'helpful_votes',
 'total_votes',
 'vine',
 'verified_purchase',
 'review_headline',
 'review_body',
 'review_date']

In [ ]:
# Create the "vine_df" DataFrame that has the "review_id", "star_rating", "helpful_votes", "total_votes", and "vine" columns. 
vine_df = df3.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine"])
vine_df.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R1015HJHGZUJVG|          5|            1|          1|   N|
|R1023YMO9XR93S|          2|            0|          0|   N|
|R10267J8PBWEVQ|          5|            0|          0|   N|
|R103326H6Z3CTG|          5|            1|          1|   N|
| R1035J76P280Y|          5|            6|          7|   N|
| R103IP0FCBH8I|          5|            1|          1|   N|
|R103WDQ4IDVIUV|          5|            0|          0|   N|
|R103WQ2GZQLH6T|          5|            0|          0|   N|
|R104K30IR1GWUD|          5|            0|          0|   N|
|R104LLIZQ8O3DW|          5|            0|          0|   N|
|R104OCMU5PF85T|          2|           25|         25|   N|
|R104QASUJNTTNP|          5|            0|          0|   N|
|R1058KF5BARAYI|          5|            0|          0|   N|
|R105G5FW41EYXT|          3|            0|          0|   Y|
|R105G8862VGKV0|          5|            0|          0|   N|
|R1064AZGE512TF|          5|            2|          2|   N|
|R106NMEE713B5W|          5|            1|          1|   N|
|R106PSJK42J15R|          5|            0|          0|   N|
|R106S6Q9EOXI5A|          5|            0|          0|   N|
|R1080VJ3FU6LKO|          5|            3|          3|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

# Load

In [ ]:
mode = "append"
jdbc_url="jdbc:postgresql://mypostgresdb.cailygz0tqjt.us-east-1.rds.amazonaws.com:5432/my_data_class_db"
config = {"user":"postgres", "password": "123postgres456", "driver":"org.postgresql.Driver"}

# # Configure settings for RDS
# mode = "append"
# jdbc_url="jdbc:postgresql://mypostgresdb.cailygz0tqjt.us-east-1.rds.amazonaws.com:5432/Employee_stu_etl_rds"
# # jdbc_url="jdbc:postgresql://mypostgresdb.cailygz0tqjt.us-east-1.rds.amazonaws.com:5432/Employee_stu_etl_rds"
# config = {"user":"postgres", 
#           "password": "postgres", 
#           "driver":"org.postgresql.Driver"}

In [ ]:
# Write review_id_df to table in RDS
review_id_table_df2.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [ ]:
# Write products_df to table in RDS
products_df.write.jdbc(url=jdbc_url, table='products', mode=mode, properties=config)

In [ ]:
# Write customers_df to table in RDS
customers_df.write.jdbc(url=jdbc_url, table='customers', mode=mode, properties=config)

In [ ]:
# Write vine_df to table in RDS
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)